src/main/resources/xsd/dbSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.eg.it/DbSchema" xmlns:tns="http://www.eg.it/DbSchema" elementFormDefault="qualified">
 <!-- Le classi saranno generate in "it.eg.dbSchema" -->

 <!-- ######################################################################## DbToolProject ######################################################################## -->
 <element name="DbToolProject">
  <complexType>
   <complexContent>
    <extension base="tns:NamedObject">
     <sequence>
      <element name="Connection" type="tns:Connection" maxOccurs="1" minOccurs="1"></element>
      <element name="DataBase" type="tns:DataBase" maxOccurs="1" minOccurs="1"></element>
      <element name="Schemas" type="tns:Schemas" maxOccurs="1" minOccurs="0"></element>
      <element name="ReportConfig" type="tns:ReportConfig" maxOccurs="1" minOccurs="0"></element>
     </sequence>
    </extension>
   </complexContent>
  </complexType>
 </element>

 <complexType name="NamedObject">
  <attribute name="Name" type="string"></attribute>
 </complexType>

 <!-- ======================================================================== DbToolProject - Schema ======================================================================== -->
 <complexType name="Schemas">
  <sequence>
   <element name="Schema" type="tns:Schema" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Schema">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="SchemaObject" type="tns:SchemaObject" maxOccurs="unbounded" minOccurs="0"></element>
    </sequence>
   </extension>

  </complexContent>
 </complexType>

 <complexType name="SchemaObject">
  <complexContent>
   <extension base="tns:NamedObject">

    <attribute name="Top" type="int"></attribute>

    <attribute name="Left" type="int"></attribute>

    <attribute name="Type">
     <simpleType>
      <restriction base="string">
       <enumeration value="TABLE" />
       <enumeration value="VIEW" />
       <enumeration value="PACKAGE" />
       <enumeration value="PROCEDURE" />
       <enumeration value="FUNCTION" />
       <enumeration value="SEQUENCE" />
       <enumeration value="TYPE" />
       <enumeration value="REPORT" />
       <enumeration value="MATERIALIZEDVIEW" />
      </restriction>
     </simpleType>
    </attribute>

   </extension>
  </complexContent>
 </complexType>



 <!-- ======================================================================== DbToolProject - DataBase ======================================================================== -->
 <complexType name="DataBase">
  <sequence>
   <element name="Tables" type="tns:Tables" maxOccurs="1" minOccurs="1"></element>
   <element name="Views" type="tns:Views" maxOccurs="1" minOccurs="0"></element>
   <element name="MaterializedViews" type="tns:MaterializedViews" maxOccurs="1" minOccurs="0"></element><!-- GG 30-09-2014 -->
   <element name="Packages" type="tns:Packages" maxOccurs="1" minOccurs="0"></element>
   <element name="Procedures" type="tns:Procedures" maxOccurs="1" minOccurs="0"></element>
   <element name="Functions" type="tns:Functions" maxOccurs="1" minOccurs="0"></element>
   <element name="Sequences" type="tns:Sequences" maxOccurs="1" minOccurs="0"></element>
   <element name="Types" type="tns:Types" maxOccurs="1" minOccurs="0"></element>
  </sequence>
  <attribute name="LastUpdate" type="dateTime"></attribute>
  <attribute name="LastConnectionName" type="string"></attribute>
 </complexType>

 <complexType name="Tables">
  <sequence>
   <element name="Table" type="tns:Table" maxOccurs="unbounded" minOccurs="0"></element>

  </sequence>
 </complexType>

 <complexType name="Table">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="Columns" type="tns:TableColumns" maxOccurs="1" minOccurs="0"></element>
     <element name="Indexes" type="tns:Indexes" maxOccurs="1" minOccurs="0"></element>
     <element name="Constraints" type="tns:Constraints" maxOccurs="1" minOccurs="0"></element>
     <element name="Triggers" type="tns:Triggers" maxOccurs="1" minOccurs="0"></element>
     <element name="ForeignKeyReferences" type="tns:ForeignKeyReferences" maxOccurs="1" minOccurs="0"></element>
     <element name="Grants" type="tns:Grants" maxOccurs="1" minOccurs="0"></element>
     <element name="Partitions" type="tns:Partitions" maxOccurs="1" minOccurs="0"></element>
     <element name="Constants" type="tns:Constants" maxOccurs="1" minOccurs="1"></element>
    </sequence>
    <attribute name="Description" type="string"></attribute>
    <attribute name="Tablespace" type="string"></attribute>
    <attribute name="Initial" type="double"></attribute>
    <attribute name="Temporary" type="boolean"></attribute>
    <attribute name="Duration" type="string"></attribute>
   </extension>
  </complexContent>
 </complexType>


 <complexType name="TableColumns">
  <sequence>
   <element name="Column" type="tns:TableColumn" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="TableColumn">
  <complexContent>
   <extension base="tns:Column">
    <sequence>
     <element name="Lob" type="tns:Lob" maxOccurs="1" minOccurs="0"></element>
    </sequence>
    <attribute name="PrimaryKey" type="boolean"></attribute>
    <attribute name="DefaultValue" type="string"></attribute>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="Indexes">
  <sequence>
   <element name="Index" type="tns:Index" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Index">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="Columns" type="tns:IndexColumns" maxOccurs="1" minOccurs="1"></element>
     <element name="Partitions" type="tns:Partitions" maxOccurs="1" minOccurs="0"></element>
    </sequence>
    <attribute name="Uniqueness" type="boolean"></attribute>
    <attribute name="Tablespace" type="string"></attribute>
    <attribute name="Initial" type="double"></attribute>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="IndexColumns">
  <sequence>
   <element name="Column" type="tns:IndexColumn" maxOccurs="unbounded" minOccurs="1"></element>
  </sequence>
 </complexType>

 <complexType name="IndexColumn">
  <complexContent>
   <extension base="tns:NamedObject">
   </extension>
  </complexContent>
 </complexType>

 <complexType name="Constraints">
  <sequence>
   <element name="Constraint" type="tns:Constraint" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Constraint">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="Columns" type="tns:ConstraintColumns" maxOccurs="1" minOccurs="0"></element>
    </sequence>
    <attribute name="Type" type="tns:ConstraintType" />
    <attribute name="SearchCondition" type="string"></attribute>
    <attribute name="Generated" type="boolean"></attribute>
    <attribute name="Table" type="string"></attribute>
   </extension>
  </complexContent>
 </complexType>

 <simpleType name="ConstraintType">
  <restriction base="string">
   <enumeration value="PrimaryKey"></enumeration>
   <enumeration value="ForeignKey"></enumeration>
   <enumeration value="Check"></enumeration>
  </restriction>
 </simpleType>

 <complexType name="ConstraintColumns">
  <sequence>
   <element name="ConstraintColumn" type="tns:ConstraintColumn" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="ConstraintColumn">
  <complexContent>
   <extension base="tns:NamedObject">

   </extension>
  </complexContent>
 </complexType>

 <complexType name="Views">
  <sequence>
   <element name="View" type="tns:View" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="MaterializedViews"><!-- GG 30-09-2014 -->
  <sequence>
   <element name="View" type="tns:View" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="View">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="Source" type="string" maxOccurs="1" minOccurs="0"></element>

     <element name="Columns" type="tns:ViewColumns" maxOccurs="1" minOccurs="0"></element>
     <element name="Triggers" type="tns:Triggers" maxOccurs="1" minOccurs="0"></element>
     <element name="Grants" type="tns:Grants" maxOccurs="1" minOccurs="0"></element>

     <element name="Constants" type="tns:Constants" maxOccurs="1" minOccurs="0"></element>
    </sequence>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="ViewColumns">
  <sequence>
   <element name="Column" type="tns:ViewColumn" maxOccurs="unbounded" minOccurs="1"></element>
  </sequence>
 </complexType>

 <complexType name="Column">
  <complexContent>
   <extension base="tns:NamedObject">
    <attribute name="Description" type="string"></attribute>
    <attribute name="Nullable" type="boolean"></attribute>
    <attribute name="Type" type="string"></attribute>
    <attribute name="Position" type="int"></attribute>
    <attribute name="DataLength" type="int"></attribute>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="ViewColumn">
  <complexContent>
   <extension base="tns:Column">
   </extension>
  </complexContent>
 </complexType>

 <complexType name="Packages">
  <sequence>
   <element name="Package" type="tns:Package" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Package">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="SourceSpec" type="string" maxOccurs="1" minOccurs="1"></element>
     <element name="SourceBody" type="string" maxOccurs="1" minOccurs="1"></element>
     <element name="Methods" type="tns:Methods" maxOccurs="1" minOccurs="1"></element>
     <element name="Grants" type="tns:Grants" maxOccurs="1" minOccurs="0"></element>
    </sequence>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="Procedures">
  <sequence>
   <element name="Procedure" type="tns:Procedure" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Procedure">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="Source" type="string"></element>
    </sequence>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="Functions">
  <sequence>
   <element name="Function" type="tns:Function" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Function">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="Source" type="string"></element>
    </sequence>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="Sequences">
  <sequence>
   <element name="Sequence" type="tns:Sequence" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Sequence">
  <complexContent>
   <extension base="tns:NamedObject">
   </extension>
  </complexContent>
 </complexType>

 <!-- ######################################################################## DbToolWorkspace ######################################################################## -->

 <complexType name="Connection">
  <complexContent>
   <extension base="tns:NamedObject">
    <attribute name="DbType" type="tns:DbType" />
                <attribute name="DriverName" type="string"></attribute>
                <attribute name="JdbcUrl" type="string"></attribute>
    <attribute name="User" type="string"></attribute>
    <attribute name="Password" type="string"></attribute>
    <attribute name="Owner" type="string"></attribute>
   </extension>
  </complexContent>
 </complexType>

 <simpleType name="DbType">
  <restriction base="string">
   <enumeration value="ORACLE"></enumeration>
   <enumeration value="SQL_SERVER"></enumeration>
   <enumeration value="MYSQL"></enumeration>
  </restriction>
 </simpleType>


 <complexType name="Argument">
  <attribute name="Name" type="string"></attribute>
  <attribute name="Type" type="string"></attribute>
  <attribute name="TypeName" type="string"></attribute>
  <attribute name="InOut" type="tns:ArgumentType"></attribute>
  <attribute name="Position" type="int"></attribute>
 </complexType>

 <simpleType name="ArgumentType">
  <restriction base="string">
   <enumeration value="IN"></enumeration>
   <enumeration value="OUT"></enumeration>
   <enumeration value="INOUT"></enumeration>
  </restriction>
 </simpleType>

 <complexType name="Triggers">
  <sequence>
   <element name="Trigger" type="tns:Trigger" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Trigger">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="Source" type="string"></element>
    </sequence>
    <attribute name="Type" type="string"></attribute>
    <attribute name="Event" type="string"></attribute>
   </extension>
  </complexContent>
 </complexType>


 <complexType name="Parameters">
  <attribute name="IntegerFormat" type="string"></attribute>
  <attribute name="DecimalFormat" type="string"></attribute>
  <attribute name="DateFormat" type="string"></attribute>

  <attribute name="DateTimeFormat" type="string"></attribute>
  <attribute name="MaxRows" type="long"></attribute>

 </complexType>

 <complexType name="Lob">
  <attribute name="TableSpace" type="string"></attribute>
  <attribute name="Initial" type="double"></attribute>
  <attribute name="Chunk" type="double"></attribute>
  <attribute name="InRow" type="boolean"></attribute>
 </complexType>

 <complexType name="ForeignKeyReference">
  <attribute name="ForeignKeyName" type="string"></attribute>
  <attribute name="TableName" type="string"></attribute>

 </complexType>

 <complexType name="ForeignKeyReferences">
  <sequence>
   <element name="ForeignKeyReference" type="tns:ForeignKeyReference" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Method">
  <sequence>
   <element name="Arguments" type="tns:Arguments" maxOccurs="1" minOccurs="1"></element>
  </sequence>
  <attribute name="Name" type="string"></attribute>
  <attribute name="Type" type="tns:MethodType"></attribute>
  <attribute name="Overload" type="int"></attribute>
 </complexType>

 <simpleType name="MethodType">
  <restriction base="string">
   <enumeration value="FUNCTION"></enumeration>
   <enumeration value="PROCEDURE"></enumeration>
  </restriction>
 </simpleType>

 <complexType name="Arguments">
  <sequence>
   <element name="Argument" type="tns:Argument" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Methods">
  <sequence>
   <element name="Method" type="tns:Method" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Grants">
  <sequence>
   <element name="Grant" type="tns:Grant" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Grant">
  <attribute name="Privilege" type="string"></attribute>
  <attribute name="Grantee" type="string"></attribute>
  <attribute name="Grantable" type="boolean"></attribute>
 </complexType>

 <complexType name="Types">
  <sequence>
   <element name="Type" type="tns:Type" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Type">
  <complexContent>
   <extension base="tns:NamedObject">
    <sequence>
     <element name="SourceSpec" type="string" maxOccurs="1" minOccurs="1"></element>
     <element name="SourceBody" type="string" maxOccurs="1" minOccurs="1"></element>
     <element name="Columns" type="tns:TypeColumns" maxOccurs="1" minOccurs="1"></element>
    </sequence>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="TypeColumns">
  <sequence>
   <element name="Column" type="tns:TypeColumn" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="TypeColumn">
  <complexContent>
   <extension base="tns:NamedObject">
    <attribute name="Description" type="string"></attribute>
    <attribute name="Type" type="string"></attribute>
    <attribute name="Position" type="int"></attribute>
    <attribute name="DataLength" type="int"></attribute>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="Partitions">
  <sequence>
   <element name="Partition" type="tns:Partition" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
  <attribute name="Type" type="string"></attribute>
  <attribute name="ColumnName" type="string"></attribute>
 </complexType>

 <complexType name="Partition">
  <attribute name="Name" type="string"></attribute>
  <attribute name="Tablespace" type="string"></attribute>
  <attribute name="Initial" type="double"></attribute>
  <attribute name="HighValue" type="string"></attribute>
 </complexType>


 <!-- ======================================================================== DbToolProject - ReportConfig ======================================================================== -->
 <complexType name="ReportConfig">
  <sequence>
   <element name="DecodeMaps" type="tns:DecodeMaps" maxOccurs="1" minOccurs="0"></element>
   <element name="Reports" type="tns:Reports" maxOccurs="1" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="DecodeMaps">
  <sequence>
   <element name="DecodeMap" type="tns:DecodeMap" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="DecodeMap">
  <attribute name="Name" type="string"></attribute>
  <attribute name="Query" type="string"></attribute>
 </complexType>

 <complexType name="Reports">
  <sequence>
   <element name="Report" type="tns:Report" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="Report">
  <complexContent>
   <extension base="tns:NamedObject">

    <sequence>
     <element name="Query" type="string" maxOccurs="1" minOccurs="1">
     </element>
     <element name="Filters" type="tns:ReportFilters" maxOccurs="1" minOccurs="1"></element>
     <element name="Columns" type="tns:ReportColumns" maxOccurs="1" minOccurs="1"></element>
    </sequence>

    <attribute name="TipoReport">
     <simpleType>
      <restriction base="string">
       <enumeration value="PLAIN"></enumeration>
       <enumeration value="ROLLUP"></enumeration>
      </restriction>
     </simpleType>
    </attribute>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="ReportFilters">
  <sequence>
   <element name="ReportFilter" type="tns:ReportFilter" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="ReportFilter">
  <complexContent>
   <extension base="tns:ReportColumn">
    <attribute name="sql" type="string"></attribute>
    <attribute name="required" type="boolean"></attribute>
   </extension>
  </complexContent>
 </complexType>

 <complexType name="ReportColumns">
  <sequence>
   <element name="ReportColumn" type="tns:ReportColumn" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>

 <complexType name="ReportColumn">
  <complexContent>
   <extension base="tns:NamedObject">
    <attribute name="Description" type="string"></attribute>
    <attribute name="Type">
     <simpleType>
      <restriction base="string">
       <enumeration value="VARCHAR"></enumeration>
       <enumeration value="BIT"></enumeration>
       <enumeration value="SHORT"></enumeration>
       <enumeration value="INTEGER"></enumeration>
       <enumeration value="FLOAT"></enumeration>
       <enumeration value="DATE"></enumeration>
       <enumeration value="TIMESTAMP"></enumeration>
       <enumeration value="BOOLEAN"></enumeration>
      </restriction>
     </simpleType>
    </attribute>
    <attribute name="Format" type="string" />
    <attribute name="DecodeMap" type="string"></attribute>
   </extension>
  </complexContent>
 </complexType>


 <complexType name="WinMergeParameters">
  <attribute name='ExeAbsolutePath' type="string"></attribute>
  <attribute name="Parameters" type="string"></attribute>
  <attribute name="RunInThread" type="boolean"></attribute>
 </complexType>

 <complexType name="DeployParameter">
  <attribute name="Directory" type="string"></attribute>
  <attribute name="FileName" type="string"></attribute>
  <attribute name="FileNameDifference" type="string"></attribute>
  <attribute name="Charset" type="string"></attribute>
 </complexType>

 <complexType name="CompareSchema">
  <attribute name="CaseInsensitive" type="boolean"></attribute>
  <attribute name="ReplaceTabChars" type="string"></attribute>
  <attribute name="IgnoreMultiSpaces" type="boolean"></attribute>
  <attribute name="MatchSystemConstraints" type="boolean"></attribute>
  <attribute name="MatchSystemIndexes" type="boolean"></attribute>
  <attribute name="AddPrompt" type="boolean"></attribute>
  <attribute name="AddComment" type="boolean"></attribute>
 </complexType>


 <complexType name="Constants">
  <sequence>
   <element name="Constant" type="tns:Constant" maxOccurs="unbounded" minOccurs="0"></element>
  </sequence>
 </complexType>





 <complexType name="Constant">
  <complexContent>
   <extension base="tns:NamedObject">
    <attribute name="Value" type="string"></attribute>
   </extension>
  </complexContent>
 </complexType>
</schema>
